constraints: HTTP ==4000.3.16,
             HUnit ==1.6.2.0,
             HandsomeSoup ==0.4.2,
             Only ==0.1,
             QuickCheck ==2.14.2,
             StateVar ==1.2.1,
             adjunctions ==4.4,
             aeson ==1.4.7.1,
             ansi-terminal ==0.11,
             appar ==0.1.8,
             array ==0.5.4.0,
             asn1-encoding ==0.9.6,
             asn1-parse ==0.9.5,
             asn1-types ==0.3.4,
             async ==2.2.3,
             attoparsec ==0.13.2.5,
             attoparsec-iso8601 ==1.0.2.0,
             auto-update ==0.1.6,
             base ==4.13.0.0,
             base-compat ==0.11.2,
             base-compat-batteries ==0.11.2,
             base-orphans ==0.8.4,
             base64-bytestring ==1.2.0.1,
             basement ==0.0.12,
             bifunctors ==5.5.7,
             binary ==0.8.7.0,
             blaze-builder ==0.4.2.1,
             blaze-html ==0.9.1.2,
             blaze-markup ==0.8.2.8,
             blaze-textual ==0.2.1.0,
             byteable ==0.1.1,
             byteorder ==1.0.4,
             bytestring ==0.10.10.1,
             bytestring-builder ==0.10.8.2.0,
             call-stack ==0.4.0,
             case-insensitive ==1.2.1.0,
             cereal ==0.5.8.1,
             cipher-aes ==0.2.11,
             clientsession ==0.9.1.2,
             clock ==0.8.2,
             colour ==2.3.5,
             comonad ==5.0.8,
             conduit ==1.3.4.1,
             conduit-extra ==1.3.5,
             configurator ==0.3.0.0,
             connection ==0.3.1,
             containers ==0.6.2.1,
             contravariant ==1.5.3,
             cookie ==0.4.5,
             cprng-aes ==0.6.1,
             crypto-api ==0.13.3,
             crypto-cipher-types ==0.0.9,
             crypto-random ==0.0.9,
             cryptohash ==0.11.9,
             cryptohash-md5 ==0.11.100.1,
             cryptohash-sha1 ==0.11.100.1,
             cryptonite ==0.29,
             data-default ==0.7.1.1,
             data-default-class ==0.1.2.0,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             deepseq ==1.4.4.0,
             digestive-functors ==0.8.4.2,
             digestive-functors-heist ==0.8.8.1,
             digestive-functors-snap ==0.7.0.1,
             direct-sqlite ==2.3.26,
             directory ==1.3.6.0,
             directory-tree ==0.12.1,
             distributive ==0.6.2.1,
             dlist ==0.8.0.8,
             double-conversion ==2.0.2.0,
             easy-file ==0.2.2,
             entropy ==0.4.1.6,
             errors ==2.3.0,
             exceptions ==0.10.4,
             fail ==4.9.0.0,
             fast-logger ==3.0.5,
             filepath ==1.4.2.1,
             free ==5.1.3,
             ghc-boot-th ==8.8.4,
             ghc-prim ==0.5.3,
             hashable ==1.3.2.0,
             haskell-src-exts ==1.23.1,
             haskell-src-meta ==0.8.7,
             heist ==1.1.0.1,
             hourglass ==0.2.12,
             hspec ==2.7.10,
             hspec-core ==2.7.10,
             hspec-discover ==2.7.10,
             hspec-expectations ==0.8.2,
             hspec-snap ==1.0.2.0,
             http-api-data ==0.4.3,
             http-client ==0.7.8,
             http-client-tls ==0.3.5.3,
             http-conduit ==2.3.8,
             http-link-header ==1.2.0,
             http-types ==0.12.3,
             hxt ==9.3.1.22,
             hxt-charproperties ==9.5.0.0,
             hxt-http ==9.1.5.2,
             hxt-regex-xmlschema ==9.2.0.7,
             hxt-unicode ==9.0.2.4,
             indexed-traversable ==0.1.1,
             integer-gmp ==1.0.2.0,
             integer-logarithms ==1.0.3.1,
             invariant ==0.5.3,
             io-streams ==1.5.2.1,
             io-streams-haproxy ==1.0.1.0,
             iproute ==1.7.11,
             jmacro ==0.6.17,
             kan-extensions ==5.2.2,
             lens ==4.19.2,
             lens-aeson ==1.1.1,
             lifted-base ==0.2.3.12,
             map-syntax ==0.3,
             math-functions ==0.3.4.2,
             memory ==0.16.0,
             mime-types ==0.1.0.9,
             monad-control ==1.0.2.3,
             mono-traversable ==1.0.15.1,
             mtl ==2.2.2,
             mwc-random ==0.14.0.0,
             network ==3.1.2.2,
             network-info ==0.2.0.10,
             network-uri ==2.6.4.1,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             parallel ==3.2.2.0,
             parseargs ==0.2.0.9,
             parsec ==3.1.14.0,
             pcre-light ==0.4.1.0,
             pem ==0.2.4,
             pretty ==1.1.3.6,
             primitive ==0.7.1.0,
             process ==1.6.9.0,
             profunctors ==5.6,
             pwstore-fast ==2.4.4,
             quickcheck-io ==0.2.0,
             random ==1.2.0,
             readable ==0.3.1,
             reflection ==2.1.6,
             regex-base ==0.94.0.1,
             regex-compat ==0.95.2.1,
             regex-posix ==0.96.0.0,
             relude ==1.0.0.1,
             resourcet ==1.2.4.2,
             rts ==1.0,
             safe ==0.3.19,
             scientific ==0.3.7.0,
             securemem ==0.1.10,
             semigroupoids ==5.3.4,
             semigroups ==0.19.1,
             setenv ==0.1.1.3,
             skein ==1.0.9.4,
             snap ==1.1.3.1,
             snap-core ==1.0.4.2,
             snap-extras ==0.12.3.0,
             snap-server ==1.1.2.0,
             socks ==0.6.1,
             split ==0.2.3.4,
             splitmix ==0.1.0.3,
             sqlite-simple ==0.4.18.0,
             stm ==2.5.0.0,
             streaming-commons ==0.2.2.1,
             syb ==0.7.2.1,
             tagged ==0.8.6.1,
             template-haskell ==2.15.0.0,
             text ==1.2.4.0,
             tf-random ==0.5,
             th-abstraction ==0.3.2.0,
             th-compat ==0.1.2,
             th-expand-syns ==0.4.7.0,
             th-lift ==0.8.2,
             th-lift-instances ==0.1.18,
             th-orphans ==0.13.11,
             th-reify-many ==0.1.9,
             time ==1.9.3,
             time-compat ==1.9.6,
             tinylog ==0.15.0,
             tls ==1.5.5,
             transformers ==0.5.6.2,
             transformers-base ==0.4.5.2,
             transformers-compat ==0.6.6,
             typed-process ==0.2.6.0,
             unix ==2.7.2.2,
             unix-compat ==0.5.3,
             unix-time ==0.4.7,
             unliftio-core ==0.2.0.1,
             unordered-containers ==0.2.14.0,
             uuid ==1.3.15,
             uuid-types ==1.0.5,
             vector ==0.12.3.0,
             vector-algorithms ==0.8.0.4,
             void ==0.7.3,
             wl-pprint-text ==1.2.0.1,
             x509 ==1.7.5,
             x509-store ==1.6.7,
             x509-system ==1.6.6,
             x509-validation ==1.6.11,
             xmlhtml ==0.2.5.2,
             zlib ==0.6.2.3,
             zlib-bindings ==0.1.1.5
