version: "2.4"
services:
  api:
    image: docker.io/tiredpixel/isoxya-api.build:unstable
    init: true
    volumes:
      - ./isoxya-api.cabal:/home/x/repo/isoxya-api.cabal
      - ./lib:/home/x/repo/lib
      - ./src:/home/x/repo/src
      - ./test:/home/x/repo/test
    networks:
      - api
      - processor
      - streamer
    ports:
      - 0.0.0.0:80:80
    restart: on-failure
    env_file: .env
networks:
  api: {}
  processor: {}
  streamer: {}
