version: "2.4"
services:
  api:
    image: docker.io/tiredpixel/isoxya-api.build:unstable
    init: true
    volumes:
      - ./isoxya-api.cabal:/home/x/repo/isoxya-api.cabal
      - ./lib:/home/x/repo/lib
      - ./sqlite3.db:/home/x/repo/sqlite3.db
      - ./src:/home/x/repo/src
      - ./test:/home/x/repo/test
    networks:
      - api
      - plugin
    ports:
      - 0.0.0.0:8000:8000
    restart: on-failure
networks:
  api: {}
  plugin: {}
