# vim: set ft=yaml:
version: "2.4"
services:
  api:
    build: .
    #image: docker.io/tiredpixel/isoxya-api.build:unstable
    init: true
    volumes:
      - ./.stylish-haskell.yaml:/home/x/repo/.stylish-haskell.yaml
      - ./bin:/home/x/repo/bin
      - ./isoxya-api.cabal:/home/x/repo/isoxya-api.cabal
      - ./lib:/home/x/repo/lib
      - ./src:/home/x/repo/src
      - ./test:/home/x/repo/test
    networks:
      - api
      - processor
      - streamer
    ports:
      - 0.0.0.0:80:80
    restart: on-failure
networks:
  api: {}
  processor: {}
  streamer: {}
